* {
    margin: 0;
    padding: 0;
}
.global {
    background-image: url(./Images/1.jpg) ; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.main {
    width: 100%;
    background: linear-gradient (to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
    background-size: cover;
    height: 100vh;
}
.navbar {
    width: 200px;
    height: 75%;
    margin: auto;
}
.icon {
    width:200px;
    float: left;
    height: 70px;
}
.logo {
    color: #080b0a;
    font-size: 35px;
    font-family: poppins, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu {
    width: 400px;
    float: left;
    height: 70px;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items:center;
}
ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;;
}
ul li a {
    text-decoration: none;
    color: #2ebfb8;
    transition: 0.4s ease-in-out;
}
ul li a:hover {
    color:#0c837d;
}
.search {
    width: 30px;
    float: left;
    margin-left: 270px;
    
}
.srch {
    font-family: 'Times New Roman';
    width: 300px;
    height: 40px;
    background: transparent;
    border: 1px solid #000000;
    margin-top: 13px;
    color:#022927;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn {
    width:100%;
    height: 40px;
    background: #0c5752;
    border: 2px solid #d8edec;
    margin-top: 13px;
    color: #ffff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn:focus {
    outline: none;
}
.search:focus {
    outline: none;
}
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: blue; 
    position: relative; 
    overflow: hidden;
    margin-right: 200px;
    padding-right: 500px;

}
.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: poppins, sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
    padding-right: 50px;
}
.span [ class~="sr-only"] {
    text-decoration: none;
    text-align: right;
    align-content: flex-start;
}
.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
    flex-wrap: wrap  ;
}
.content .Jn {
    width: 160px;
    height: 40px;
    background: #d13662;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px; 
    cursor: pointer;
} 
.content .Jn a {
    text-decoration: none;
    color: black;
    transition: 3s, ease-in; 
}
.Jn:hover {
    background: white;

}
.content. span {
    color:#080b0a;
    font-size: 65px;

}
.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8))50%;
    position: absolute;
    top: -20px;
    left:870px;
    border-radius: 10px;
    padding: 25px;

}
.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    margin: 2px;
    padding: 8px;
}
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border: bottom 1px solid #ff7200;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus {
    outline: none;
}
::placeholder {
    color: #fff;
    font-family:  Arial, Helvetica, sans-serif;
}
.btnn {
width: 240px;
height: 40px;
background: #ff7200;
border: none;
margin-top: 30px; 
font-size: 18px;
border-radius: 10px;
cursor: pointer;
color: #fff;
}
.bttn:hover {
    background: white;
    color: #ff7200;
    font-weight: bold;
}
 .form .link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
 }
 .form .link a {
text-decoration: none;
text-align: center;
 }
 .logw {

 }